:root {
  --navbar-color: hsl(0, 0%, 0%);
  --background-color: hsl(0deg 0% 17.32%);
  --button-color: hsl(214, 100%, 50%);
  --SecondSection-color: hsl(0, 0%, 0%);
  --LiText-color: hsl(0, 40%, 98%);
  --blueTheme-color: hsl(214, 100%, 50%);
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-y: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  background-color: var(--navbar-color);
}
label {
  color: rgba(239, 233, 233, 0.608);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 40dvh;
  transition-duration: 0.5s;
  display: flex;
  font-size: 0.9rem;
  align-items: center;
  justify-content: center;
}
label:hover {
  color: rgba(255, 0, 0, 0.321);
}
img {
  border: dotted 5px hsl(0, 20%, 97%);
  margin: 10px;
  width: 150px;
  height: 200px;
  border-radius: 70px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 8px;
}
em {
  text-transform: uppercase;
}
.grid {
  background-color: var(--SecondSection-color);
  display: grid;
  grid-template-columns: auto auto;
  color: var(--LiText-color);
  text-align: center;
  gap: 10px;
}
.grid-container {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  padding: 20px 0;
  font-size: 2rem;
}
#size {
  width: 50px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}
.container2 {
  background-color: var(--navbar-color);
  font-size: 1rem;
}
.Project {
  background-color: rgb(31, 31, 31);
}
nav {
  padding-top: 20px;
  top: 0;
  width: 100%;
  position: static;
  padding-bottom: 20px;
}
ul {
  margin: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 20px;
  padding-right: 10px;
  padding-left: 0;
}
li {
  color: var(--LiText-color);
  padding-top: 10px;
  list-style-type: none;
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#centered {
  text-align: center;
  margin-top: 5px;
}
b {
  background-color: var(--button-color);
  border-style: none;
  padding: 9px;
  border-top-left-radius: 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 15px;
  box-sizing: border-box;
  box-shadow: #010101 0 10px 20px -10px;
}

/* This is the boostrap Customizing components section features */
.nav-link {
  padding-top: 1px;
  color: var(--LiText-color);
}
.opacity-75 {
  text-align: center;
}
.middle {
  text-align: center;
}
h3 {
  text-align: center;
}
#myCarousel {
  margin-top: 20px;
}
.row {
  margin: 10px;
}
.icon {
  color: white;
  background-color: #010101;
  top: 10px;
  transition: 0.6s;
  border-bottom-style: solid;
}
.icon:hover {
  background-image: linear-gradient(red, rgb(0, 26, 255));
  box-shadow: 1px 2px 3.5px #ff00e1;
  background-clip: text;
  color: transparent;
  border-top-style: solid;
  border-top-color: #00ffb7;
}
.centered {
  padding: 30px;
  margin: 0;
}
#email {
  background: var(--button-color);
  border-radius: 90px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: progress;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  width: -moz-fit-content;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
a {
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
a:hover {
  transition: 1s;
  transform: skew(10deg);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  flex-direction: column;
}
div.center {
  padding: 30px;
  margin: 0;
  background-image: url(/images/pexels-harun-tan-2311991-3980364.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#style {
  margin: 0;
  background-color: var(--SecondSection-color);
}
.two {
  color: rgb(255, 255, 255);
  margin: 0;
  background-color: var(--SecondSection-color);
  margin: 50px;
}
span {
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 1.5rem;
}
#spa {
  font-size: 3rem;
  color: var(--LiText-color);
}
p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
p#self {
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  display: flex;
  font-size: 1.2rem;
  color: var(--LiText-color);
}
.side {
  display: flex;
  border-style: none;
  flex-direction: row;
}
#info {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 5px;
  color: lightgreen;
  padding: 0;
  font-size: 1.4em;
  text-shadow: 2px 5px 3px black;
}
span {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}
h1 {
  color: rgb(255, 255, 255);
  text-shadow: #000000 2px 4px 7px;
  text-align: center;
  margin: 0;
  font-weight: bold;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  transition: ease-in 0.8s;
  transition: ease-out 0.9s;
  animation: skew forwards;
  animation-timeline: view(5% 65%);
}

@keyframes skew {
  0% {
    color: white;
    transform: skew(0deg);
    transform: skew(0deg) translateX(0px);
  }
  15% {
    color: #ff00e1;
    transform: skew(0deg);
  }

  30% {
    color: rgb(255, 255, 255);
  }
  50% {
    color: rgb(0, 213, 255);
    transform: skew(0deg);
  }
  100% {
    color: yellow;
    transform: skew(15deg);
    transform: skew(0deg) translateX(100px);
  }
}

footer {
  justify-content: center;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  width: auto;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  background: var(--background-color);
  color: rgb(255, 255, 255);
  bottom: 0;
  position: static;
  width: 100%;
}
@media (max-width: 658px) {
  nav {
    padding-top: 20px;
    top: 0;
    width: 100%;
    position: static;
    padding-bottom: 20px;
    background-color: var(--navbar-color);
  }
  .carousel-caption {
    padding: 1px;
    width: -moz-fit-content;
    width: fit-content;
  }
  span {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  .row {
    clear: both;
    row-gap: 10px;
  }
  em {
    text-transform: uppercase;
  }
  .grid {
    background-color: var(--SecondSection-color);
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    gap: 10px;
  }
  .grid-container {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    color: var(--LiText-color);
    padding: 20px 0;
    font-size: 1.5rem;
  }

  p#self {
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    padding: 0;
    margin: 10px;
    font-size: small;
    align-content: center;
    justify-content: center;
  }

  ul {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
  }
  li {
    display: flex;
    padding: 0;
    justify-content: center;
    list-style-type: none;
    width: 100%;
  }

  #email {
    background: var(--button-color);
    border-radius: 90px;
    box-shadow: #5e5df0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
      NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
      EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto,
      "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    -webkit-user-select: none;
    user-select: none;
    touch-action: manipulation;
    width: -moz-fit-content;
    width: fit-content;
    word-break: break-word;
    border: 0;
  }

  .side {
    display: flex;
    flex-direction: column;
  }
  footer {
    top: 0;
    bottom: 0;
    position: static;
    width: 100%;
  }
}
@media (max-width: 410px) {
  nav {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--navbar-color);
  }
  span {
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  #spa {
    font-size: 2rem;
  }
  p {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  p#self {
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    display: flex;
    font-size: 1.2rem;
  }
  .side {
    display: flex;
    border-style: none;
    flex-direction: row;
  }
  #info {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin: 5px;
    padding: 0;
    font-size: 1.2em;
  }
  span {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
  }

  h1 {
    color: rgb(255, 255, 255);
    text-shadow: #000000 2px 4px 7px;
    text-align: center;
    margin: 0;
    font-weight: bold;
    font-size: 2.5rem;
  }

  body {
    width: 100%;
  }
  p#self {
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    padding: 0;
    margin: 10px;
    font-size: small;
    align-content: center;
    justify-content: center;
  }
  ul {
    margin: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
    padding-right: 10px;
    padding-left: 0;
  }
  li {
    list-style-type: none;
  }
  .side {
    display: flex;
    flex-direction: column;
  }
  h1 {
    text-align: center;
    margin: 0;
    font-size: x-large;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-transform: uppercase;
  }
}
@media (max-width: 770px) {
  p#self {
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    padding: 0;
    margin: 10px;
    font-size: small;
    align-content: center;
    justify-content: center;
  }
  .two {
    padding: 0;
    margin: 20px;
  }
}
@media (max-width: 870px) {
  p#self {
    display: flex;
    padding: 0;
    width: -moz-fit-content;
    width: fit-content;
    margin: 10px;
    font-size: small;
    align-content: center;
    justify-content: center;
  }
}
