:root {
  --navbar-color: hsl(0, 0%, 0%);
  --background-color: hsl(236, 82%, 11%);
  --button-color: hsl(214, 100%, 50%);
  --SecondSection-color: ;
  --LiText-color: hsl(0, 40%, 98%);
}
body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    to left,
    hsl(0, 2%, 13%),
    hsl(238, 100%, 16%)
  );
}

.icon {
  color: white;
  background-color: #010101;
  top: 10px;
  transition: 0.6s;
  border-bottom-style: solid;
}
.icon:hover {
  background-image: linear-gradient(red, rgb(0, 26, 255));
  box-shadow: 1px 2px 3.5px #ff00e1;
  background-clip: text;
  color: transparent;
  border-top-style: solid;
  border-top-color: #00ffb7;
}
.image-color {
  top: 100px;
  background-image: linear-gradient(red, blue);
  height: 165px;
  width: 140px;
  position: absolute;
  box-shadow: 4px 3px 7px rgb(0, 0, 0);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  transition: 0.5s;
}
.float {
  background-color: transparent;
  border-style: solid;
  height: 30px;
  margin-bottom: 5px;
  width: 30px;
  border-color: rgb(41, 41, 41);
}
.box1 {
  transform: rotate(65deg);
  position: relative;
  top: -450px;
  border-color: rgb(255, 0, 212);
  left: 30px;
}
.box2 {
  transform: rotate(65deg);
  position: relative;
  top: -450px;
  left: 160px;
  border-color: rgb(255, 251, 0);
}
.box3 {
  transform: rotate(37deg);
  position: relative;
  top: -410px;
  border-color: rgb(0, 0, 217);
  left: 70px;
}
.box4 {
  max-width: 100lvw;
  transform: rotate(37deg);
  position: relative;
  top: -450px;
  border-color: rgb(255, 21, 0);
  right: -1124px;
}
.box5 {
  max-width: 100lvw;
  transform: rotate(37deg);
  position: relative;
  top: -450px;
  border-color: aqua;
  right: -1030px;
}
.box6 {
  border-color: rgb(17, 255, 0);
  max-width: 100lvw;
  transform: rotate(37deg);
  position: relative;
  top: -570px;
  right: -980px;
}
img {
  transition: 1s;
  position: relative;
  border-style: dotted;
  border-color: black 15px;
  margin: 10px;
  width: 100px;
  border-radius: 70px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 8px;
}

em {
  text-transform: uppercase;
}
.grid {
  background-color: var(--SecondSection-color);
  display: grid;
  padding: 40px;
  grid-template-columns: auto auto;
  text-align: center;
  gap: 10px;
}
.grid-container {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  color: rgb(0, 255, 251);
  padding: 20px 0;
  font-size: 2.5rem;
}
#size {
  width: 50px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

nav {
  padding-top: 20px;
  top: 0;
  width: 100%;
  position: static;
  padding-bottom: 20px;
}
ul {
  margin: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 20px;
  padding-right: 10px;
  padding-left: 0;
}
li {
  color: var(--LiText-color);
  padding-top: 10px;
  list-style-type: none;
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#centered {
  text-align: center;
  margin-top: 5px;
}
b {
  background-color: var(--button-color);
  border-style: none;
  padding: 9px;
  border-top-left-radius: 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 15px;
  box-sizing: border-box;
  box-shadow: #010101 0 10px 20px -10px;
}

/* This is the boostrap Customizing components section features */

.nav-link {
  padding-top: 1px;
  color: var(--LiText-color);
}
.opacity-75 {
  text-align: center;
}
.middle {
  text-align: center;
}
h3 {
  text-align: center;
}
#myCarousel {
  margin-top: 20px;
}
.row {
  margin: 10px;
}
#div {
  background-color: var(--background-color);
}
.centered {
  padding: 30px;
  margin: 0;
}
#email {
  background: var(--button-color);
  border-radius: 90px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: progress;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  -webkit-user-select: auto;
  user-select: auto;

  touch-action: manipulation;
  width: -moz-fit-content;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
a {
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
a:hover {
  transition: 1s;
  transform: skew(10deg);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  flex-direction: column;
}
div.center {
  padding: 30px;
  margin: 0;
  background-color: var(--background-color);
}
#style {
  margin: 0;
  background-color: var(--SecondSection-color);
}
.two {
  color: rgb(255, 255, 255);
  margin: 0;
  background-color: var(--SecondSection-color);
  margin: 50px;
}
span {
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 1.5rem;
}
#spa {
  font-size: 3rem;
}
p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
p#self {
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  display: flex;
  font-size: 1.2rem;
  color: var(--LiText-color);
}
.side {
  display: flex;
  border-style: none;
  flex-direction: row;
}
#info {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 5px;
  padding: 0;
  color: #ffffff;
  font-size: 1.2em;
}
span {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  color: rgb(255, 255, 255);
  text-shadow: #000000 2px 4px 7px;
  text-align: center;
  margin: 0;
  font-weight: bold;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  transition: ease-in 0.8s;
  transition: ease-out 0.9s;
  animation: skewed;
  animation-timeline: view();
}

@keyframes skewed {
  0% {
    color: hsl(0, 0%, 100%);
    transform: skew(0deg);
    transform: skew(0deg) translateX(0px);
  }
  35% {
    color: hsl(0, 0%, 100%);
    transform: skew(0deg);
  }

  50% {
    color: hsl(302, 100%, 48%);
  }
  75% {
    color: hsl(114, 100%, 50%);
    transform: skew(0deg);
  }
  100% {
    color: hsl(60, 100%, 50%);
    transform: skew(15deg);
    transform: skew(0deg) translateX(100px);
  }
}
footer {
  justify-content: center;
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  width: auto;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  background-color: rgba(29, 29, 29, 0.929);
  color: rgb(255, 255, 255);
  bottom: 0;
  position: static;
  width: 100%;
}
@media (max-width: 658px) {
  .image-color {
    top: 250px;
  }
  nav {
    padding-top: 20px;
    top: 0;
    width: 100%;
    position: static;
    padding-bottom: 20px;
    background-color: var(--navbar-color);
  }
  .carousel-caption {
    padding: 1px;
    width: -moz-fit-content;
    width: fit-content;
  }
  span {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  .row {
    clear: both;
    row-gap: 10px;
  }
  em {
    text-transform: uppercase;
  }
  .grid {
    background-color: var(--SecondSection-color);
    display: grid;
    padding: 40px;
    grid-template-columns: auto;
    text-align: center;
    gap: 10px;
  }
  .grid-container {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    color: rgb(0, 255, 251);
    padding: 20px 0;
    font-size: 1.5rem;
  }
  body {
    width: 100%;
  }
  p#self {
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    padding: 0;
    margin: 10px;
    font-size: small;
    align-content: center;
    justify-content: center;
  }

  ul {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
  }
  li {
    display: flex;
    padding: 0;
    justify-content: center;
    list-style-type: none;
    width: 100%;
  }

  #email {
    background: var(--button-color);
    border-radius: 90px;
    box-shadow: #5e5df0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
      NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
      EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto,
      "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;

    -webkit-user-select: auto;
    user-select: auto;
    touch-action: manipulation;
    width: -moz-fit-content;
    width: fit-content;
    word-break: break-word;
    border: 0;
  }

  .side {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 410px) {
  nav {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--navbar-color);
  }
  span {
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  #spa {
    font-size: 2rem;
  }
  p {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  p#self {
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    display: flex;
    font-size: 1.2rem;
  }
  .side {
    display: flex;
    border-style: none;
    flex-direction: row;
  }
  #info {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin: 5px;
    padding: 0;
    font-size: 1.2em;
  }
  span {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
  }
  h1 {
    text-align: center;
    margin: 0;
    font-weight: bold;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
  }
  body {
    width: 100%;
  }
  p#self {
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    padding: 0;
    margin: 10px;
    font-size: small;
    align-content: center;
    justify-content: center;
  }
  ul {
    margin: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
    padding-right: 10px;
    padding-left: 0;
  }
  li {
    list-style-type: none;
  }
  .side {
    display: flex;
    flex-direction: column;
  }
  h1 {
    text-align: center;
    margin: 0;
    font-size: x-large;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-transform: uppercase;
  }
}
@media (max-width: 770px) {
  p#self {
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    padding: 0;
    margin: 10px;
    font-size: small;
    align-content: center;
    justify-content: center;
  }
  .two {
    padding: 0;
    margin: 20px;
  }
}
@media (max-width: 870px) {
  .float {
    height: 25px;
    width: 25px;
  }
  p#self {
    display: flex;
    padding: 0;
    padding-top:85;
    width: -moz-fit-content;
    width: fit-content;
    margin: 25px;
    font-size: 1rem;
    align-content: center;
    justify-content: center;
  }
  .box1 {
    transform: rotate(65deg);
    position: relative;
    top: -430px;
    left: 50px;
    border-color: rgb(255, 0, 85);
  }
  .box2 {
    transform: rotate(65deg);
    position: relative;
    top: -420px;
    left: 110px;
    border-color: rgb(255, 251, 0);
  }
  .box3 {
    transform: rotate(65deg);
    position: relative;
    top: -430px;
    left: 50px;
    border-color: rgb(0, 55, 255);
  }
  .box4 {
    max-width: 100lvw;
    transform: rotate(37deg);
    position: relative;
    top: -450px;
    border-color: rgb(255, 21, 0);
    right: -424px;
  }
  .box5 {
    max-width: 100lvw;
    transform: rotate(37deg);
    position: relative;
    top: -450px;
    border-color: aqua;
    right: -380px;
  }
  .box6 {
    border-color: rgb(17, 255, 0);
    max-width: 100lvw;
    transform: rotate(37deg);
    position: relative;
    top: -570px;
    right: -360px;
  }
}
